.message{data: {message: {id: message.id}}}
  .message_title
    .message_title__name
      = message.user.name
    .message_title__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message_text
    - if message.content.present?
      %p.message_text__content
        = message.content
    = image_tag message.image.url, class: 'message_text__image' if message.image.present?